body {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

body.search-active {
    justify-content: flex-start;
}

.header {
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.header h1 {
    position: absolute;
    top: 23%;
    left: 50%;
    margin: 0;
    font-size: 70px;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);    
}


body.search-active .header h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    transform: none;
}

.search-container {
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-container.centered {
    margin-top: 0;
}

.search-container.top {
    margin-top: 30px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    flex: 1;
}

.search-container button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.results {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 70vh;
    display: none; 
    transition: all 0.3s ease-in-out;
}

.book-item {
    margin-bottom: 50px;
    cursor: pointer;
}

.book-item:hover h3 {
    text-decoration: underline;
}

.loading {
    font-size: 18px;
    color: #555;
    text-align: center;
}

.book-description {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

@media (min-width: 769px) and (max-width: 992px){
    .header h1 {
        white-space: nowrap;
        font-size: 70px;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    
    .header h1 {
        top: 22%;
        white-space: nowrap;
        font-size: 60px;
    }

    .search-container.top {
        margin-top: 60px;
    }
    
}

@media (min-width: 414px) and (max-width: 600px){
    .header h1 {
        top: 20%;
        font-size: 50px;
    }

    .search-container.top {
        margin-top: 60px;
    }
}

@media (max-width: 413px){
    .header h1 {
        top: 20%;
        font-size: 40px;
    }

    .search-container.top {
        margin-top: 60px;
    }
}